* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#copy {
  position: relative; /* กำหนดให้รูปและข้อความอยู่ในตำแหน่งแบบเดียวกัน */
}

#copy img {
  border-radius: 15px; /* กำหนดขอบมนวนของรูปภาพ */
}

#copy::before {
  content: "Copy"; /* ข้อความที่จะแสดงเมื่อเม้าส์ชี้ที่รูป */
  position: absolute;
  bottom: 20px; /* ระยะห่างของข้อความจากด้านล่างของรูป */
  left: 100%; /* กำหนดให้ข้อความอยู่ตรงกลางเท่ากับครึ่งหนึ่งของความกว้างของรูป */
  transform: translateX(0%); /* ให้ข้อความอยู่ตรงกลางด้านนอกของรูป */
  opacity: 0; /* กำหนดให้ข้อความหายไปตอนเริ่มต้น */
  background-color: rgba(8, 77, 182, 0.397); /* สีพื้นหลังของข้อความ */
  color: #fff; /* สีข้อความ */
  padding: 5px 10px; /* ระยะห่างของข้อความภายในกล่อง */
  border-radius: 10px; /* กำหนดขอบมนวนของกล่อง */
  transition: opacity 0.3s ease; /* ให้ข้อความแสดงเป็นนุ่มนวล */
}

#copy:hover::before {
  opacity: 1; /* ให้ข้อความแสดงเมื่อชี้เม้าส์ที่รูป */
}
